<footer class="footer">
  <div class="" style="display: flex;">
      <div style="margin-right:32px">© Bacosoft 2022</div>
  		<div><a href="https://doc.bacosoft.com/bacosoft-lex/aviso-legal.html">Política de Privacidad y Aviso Legal</a></div>
  </div>
</footer>
